# =================================================================
# ПАРАМЕТРЫ ОКРУЖЕНИЯ
# =================================================================
PROJECT_NAME=gruzbery_prod
EXTERNAL_DB_PORT=5433

# НАСТРОЙКИ БАЗЫ ДАННЫХ
DB_USER=postgres
DB_PASSWORD=пароль_сюда
DB_NAME=bybit_bot
# DB_URL формируется автоматически внутри docker-compose
REDIS_PASSWORD=пароль_redis_сюда
REDIS_PORT=6379
# REDIS_URL формируется автоматически из REDIS_PASSWORD и REDIS_PORT

# API ТОКЕНЫ И ИНТЕГРАЦИИ
BOT_TOKEN=токен_бота_сюда
PAYMENT_MANUAL_WALLET=TEc4cgRjPL5RBsqWpgqe23hHSCnhRvW6oJ
ADMIN_PAYMENT_CHAT_ID=-1004389834083
LOG_CHANNEL_ID=-100...
NEWS_CHANNEL_ID=-100...
COMMUNITY_GROUP_ID=-100...
COMMUNITY_GROUP_LINK=https://t.me/...
GUIDE_URL=ссылку_сюда
SUPPORT_URL=ссылку_сюда

# =================================================================
# ПАРАМЕТРЫ РАБОТЫ
# =================================================================
# Прокси (оставь пустым на сервере, если не нужно)
PROXY_URL= 
# Список монет-исключений в формате JSON
IGNORED_SYMBOLS='["BTCUSDT", "ETHUSDT", "SOLUSDT", "XRPUSDT", "DOGEUSDT", "ADAUSDT", "AVAXUSDT", "DOTUSDT"]'

# Раскомментируйте строку ниже для режима разработки
# DEV_MODE=True
