# =================================================================
# ПАРАМЕТРЫ ОКРУЖЕНИЯ
# =================================================================
PROJECT_NAME=gruzbery_prod
EXTERNAL_DB_PORT=5433

# НАСТРОЙКИ БАЗЫ ДАННЫХ
DB_USER=postgres
DB_PASSWORD=пароль_сюда
DB_NAME=bybit_bot
# DB_URL формируется автоматически внутри docker-compose

# API ТОКЕНЫ И ИНТЕГРАЦИИ
BOT_TOKEN=токен_бота_сюда
CRYPTOPAY_TOKEN=токен_криптопей_сюда
PRIVATE_CHANNEL_ID=-100...
NEWS_CHANNEL_ID=-100...
GUIDE_URL=ссылку_сюда

# =================================================================
# ПАРАМЕТРЫ РАБОТЫ
# =================================================================
# Прокси (оставь пустым на сервере, если не нужно)
PROXY_URL= 
# Список монет-исключений в формате JSON
IGNORED_SYMBOLS='["BTCUSDT", "ETHUSDT", "SOLUSDT", "XRPUSDT", "DOGEUSDT", "ADAUSDT", "AVAXUSDT", "DOTUSDT"]'

# Режим работы крипто платежей
CRYPTOPAY_TESTNET=False
# Раскомментируйте строку ниже для режима разработки
# DEV_MODE=True