BOT_TOKEN=токен_бота_сюда
DB_URL=postgresql+asyncpg://user:password@localhost:5432/name # Заполнить user, password, name - свои значения
IGNORED_SYMBOLS=["BTCUSDT", "ETHUSDT", "SOLUSDT", "XRPUSDT", "DOGEUSDT", "ADAUSDT", "AVAXUSDT", "DOTUSDT"] #Список игнорируемых пар
