aiogram==3.28.2
SQLAlchemy==2.0.49
asyncpg==0.31.0
pybit==5.16.0
pydantic-settings==2.14.1
python-dotenv==1.2.2
aiohttp-socks==0.11.0
alembic==1.18.4
numpy==2.3.1
aiocryptopay==0.3.5
psutil==6.0.0
orjson==3.10.15
redis==5.2.1
mplfinance==0.12.10b0
pandas==2.3.0
